
h1, h2, h3, h4, h5 {
    font-family: Arial;
    font-weight: lighter;
}

.body{
    background-color: #000; 
}

header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 5000;
    width: 100%;
}

.btn3 {
    font-family: Calibri;

       color: #fff;
}

.btn3:hover {
    text-decoration: none;
    border-bottom: solid 2px rgb(255, 0, 0);
}

.about1{
    color: #fff;
    background-color: #000000;
    padding: 1% 0% 0.5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about2{
    color: #ff0000;

}
ъ
.block1{
    margin: 1% 1% 1% 0%;
}

.block2{
    margin: 0% 0% 0% 20%;
}

.block3{
    margin: 10% -5% 0% 0%;
}

.block3 h2{
	font-size: 40px;
}

.block4 h4{
    font-family:Nunito;
	font-size: 14px;
    margin: 10% 0% 0% 0%;
}

#about {
    float: center;
    width: 100%;	
}  

#about {
	text-align: center;
	font-size: 1em;
	line-height: 30px;
	margin-bottom: 10px;
  	font-family:Century Gothic;
	font-weight: bold;
}

#about > a {color: #000000}

#about > a:hover {
text-decoration: none;

  border-bottom: solid 2px #FF4500;
}
#about > a:not(:last-child) {
  margin-right: 1%;
}

.btn1 {
    font-family: Calibri;
    font-size: 32px;
    text-decoration: none;
    float: left;
    border-radius: 5px;
    padding: 2px 20px;
    background-color: #ff0000;
    cursor: pointer;
    color: #fff;
    margin-left: 10%;
    border: 3px solid red;
    margin: 0% 0% 0% 20%;
}

.btn1:hover{
    font-family: Calibri;
    font-size: 32px;
    text-decoration: none;
    float: left;
    border-radius: 5px;
    padding: 2px 20px;
    background-color: #ffffff;
    cursor: pointer;
    color: #ff0000;
    margin-left: 10%;
    border: 3px solid rgb(255, 0, 0);
    margin: 0% 0% 0% 20%;
}

.btn2 {
    font-family: Calibri;
    font-size: 32px;
    text-decoration: none;
    float: left;
    border-radius: 5px;
    padding: 2px 20px;
    background-color: #ff0000;
    cursor: pointer;
    color: #fff;
    margin-left: 30%;
    border: 3px solid red;
}

.btn2:hover{
    font-family: Calibri;
    font-size: 32px;
    text-decoration: none;
    float: left;
    border-radius: 5px;
    padding: 2px 20px;
    background-color: #ffffff;
    cursor: pointer;
    color: #ff0000;
    margin-left: 30%;
    border: 3px solid rgb(255, 0, 0);
}

.block8{
    padding-top: 1%;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;

}

.block8 h2{
    color: #000000;
	font-size: 18px;
    margin-left: 35%;
}

.block8 h3{
	font-size: 18px;
    margin-left: 35%;
}


.top{
    padding: 10% 20% 0% 20%;
    float: center;
}

.block9{
    background-color: #ffffff;

    width: 500px;
    margin: 5% 0% 0% 25%;
    padding: 5% 10% 5% 10%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}


